<div class="container text-muted">
    <h2>Under Construction :)</h2>
    <p></p>
    <p>This will have recent activity, top rated recipes, number of recipes, number of tastings, top rated spirits, etc.</p>
</div>

