/*
Usefull media breakpoints

@media (min-width:320px)  {  smartphones, iPhone, portrait 480x320 phones  }
@media (min-width:481px)  {  portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide.  }
@media (min-width:641px)  {  portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones  }
@media (min-width:961px)  {  tablet, landscape iPad, lo-res laptops ands desktops  }
@media (min-width:1025px) {  big landscape tablets, laptops, and desktops  }
@media (min-width:1281px) {  hi-res laptops and desktops  }

*/
:root {
	--page-background: #0f0f0f;
	--container-background: #0f0f0f;
	--tile-background: #1f1f1f;
	--icon-color: #aa843e;
	--icon-color: #443cb1;
	--icon-color: #339c94;
	--icon-color: #5c9e88;
	--logo-border: #b469ca;
	--header-text-accent: #bb86fc;
	--header-text: #dbdbdb;
	--body-text: #ffffff;
	--primary-text: #dbdbdb;
	--secondary-text: #a0a0a0;
	--tertiary-text: #a0a0a0;
	--tertiary2-text: #636464;

	/* bootstrap overrides */
	--bs-body-bg: var(--tile-background);
	--bs-body-color: var(--primary-text);

	--bs-border-color: var(--tile-background);
	--bs-border-width: 1px;
	
	--bs-border-radius: 0.5rem;

	--bs-primary: #3a2570;
	--bs-primary-border-subtle: #3a2570;

	--bs-focus-ring-color: var(--primary-text);
	--bs-focus-ring-width: 0.5px;
	--bs-focus-ring-opacity: 1;

	.dropdown-menu {
		--bs-dropdown-bg: var(--tile-background);
		--bs-dropdown-link-active-bg: var(#151447);
	}

	.btn-outline-secondary {
		--bs-btn-color: #6c757d;
		--bs-btn-border-color: #6c757d;
		--bs-btn-hover-color: #fff;
		--bs-btn-hover-bg: #6c757d;
		--bs-btn-hover-border-color: #6c757d;
		--bs-btn-focus-shadow-rgb: 108, 117, 125;
		--bs-btn-active-color: #fff;
		--bs-btn-active-bg: #6c757d;
		--bs-btn-active-border-color: #6c757d;
		--bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
		--bs-btn-disabled-color: #6c757d;
		--bs-btn-disabled-bg: transparent;
		--bs-btn-disabled-border-color: #6c757d;
		--bs-gradient: none;
	}

	.btn-outline-primary {
		--bs-btn-color: #84e1c2;
		--bs-btn-border-color: #84e1c2;
		--bs-btn-hover-color: #000000;
		--bs-btn-hover-bg: #84e1c2;
		--bs-btn-hover-border-color: #84e1c2;
		--bs-btn-focus-shadow-rgb: 13, 110, 253;
		--bs-btn-active-color: #000000;
		--bs-btn-active-bg: #5c9e88;
		--bs-btn-active-border-color: #84e1c2;
		--bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
		--bs-btn-disabled-color: #84e1c2;
		--bs-btn-disabled-bg: transparent;
		--bs-btn-disabled-border-color: #84e1c2;
		--bs-gradient: none;
	}

	.btn-outline-danger {
		--bs-btn-color: #ca6179;
		--bs-btn-border-color: #ca6179;
		--bs-btn-hover-color: #fff;
		--bs-btn-hover-bg: #ca6179;
		--bs-btn-hover-border-color: #ca6179;
		--bs-btn-focus-shadow-rgb: 220, 53, 69;
		--bs-btn-active-color: #fff;
		--bs-btn-active-bg: #9b495c;
		--bs-btn-active-border-color: #ca6179;
		--bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
		--bs-btn-disabled-color: #ca6179;
		--bs-btn-disabled-bg: transparent;
		--bs-btn-disabled-border-color: #ca6179;
		--bs-gradient: none;
	}

	.btn-primary {
		--bs-btn-color: #fff;
		--bs-btn-bg: #006105;
		--bs-btn-border-color: #006105;
		--bs-btn-hover-color: #fff;
		--bs-btn-hover-bg: #005204;
		--bs-btn-hover-border-color: #005204;
		--bs-btn-focus-shadow-rgb: 49, 132, 253;
		--bs-btn-active-color: #fff;
		--bs-btn-active-bg: #003303;
		--bs-btn-active-border-color: #005204;
		--bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
		--bs-btn-disabled-color: #fff;
		--bs-btn-disabled-bg: #006105;
		--bs-btn-disabled-border-color: #006105;
	}

}

@media only screen and (min-width: 320px)
{
	.recipe-item {
		height: 90px;
		/*width: 600px;*/
		margin: 2px;
	}

	.recipe-item-title {
		font-size: 10pt;
		font-weight: bold;
	}

	.recipe-item-summary {
		font-size: 8pt;
		font-weight: normal;
		color: var(--tertiary2-text);
	}

	.recipe-item-link {
		text-decoration: none;
		color: #000000;
		white-space: nowrap;
		font-size: 18px;
		width: 600px;
		height: 90px;
	   }

	.icon-size {
		font-size:48pt;
		display: flex;
		align-self: flex-end;
	}

	.icon-details-size {
		font-size:32pt;
		display: flex;
		align-self: flex-end;
	}

	.f-tertiary {
		font-family: "Montserrat", sans-serif;
		font-size: 8pt;
		color: var(--tertiary-text);
	}
	.f-secondary {
		font-family: "Montserrat", sans-serif;
		font-size: 8pt;
		color: var(--secondary-text);
	}
	.f-primary {
		font-family: "Montserrat", sans-serif;
		font-size: 10pt;
		color: var(--header-text);
	}
	.f-header {
		font-family: "Montserrat", sans-serif;
		font-size: 16pt;
		font-weight: bold;
		color: var(--header-text-accent);
	}

	.logo-text {
		font-family: "Montserrat", sans-serif;
		font-size: 16pt;
		font-weight: bold;
		color: var(--header-text-accent);
	}

	.entry-form-header {
		background-color: var(--tile-background);
		font: bold 16pt Arial;
		padding: 5px;
	}
	.entry-form {
		border-style: none;
		border-width: 2px;
		border-color: var(--tile-background);
		background: var(--container-background);
		margin: 3px;
		padding: 0px;
		border-radius: 7px;
	}
	
	.entry-form-item {
		padding-left: 10px;
		padding-top: 10px;
		padding-right: 10px;
	}

	.form-label {
		font-size: 0.75rem;
	}

	.form-control {
		font-size: 0.75rem;
	}

	.btn-sm {
		--bs-btn-font-size: 0.75rem;
	}

}

@media only screen and (min-width: 481px)
{
	.recipe-item {
		height: 130px;
		/*width: 600px;*/
		margin: 2px;
	}

	.recipe-item-title {
		font-size: 12pt;
		font-weight: bold;
	}

	.recipe-item-summary {
		font-size: 10pt;
		font-weight: normal;
		color: var(--tertiary2-text);
	}

	.recipe-item-link {
		text-decoration: none;
		color: #000000;
		white-space: nowrap;
		font-size: 18px;
		width: 600px;
		height: 130px;
	   }

	.icon-size {
		font-size:70pt;
		display: flex;
		align-self: flex-end;
	}
	
	.icon-details-size {
		font-size:45pt;
		display: flex;
		align-self: flex-end;
	}

	.f-tertiary {
		font-family: "Montserrat", sans-serif;
		font-size: 10pt;
		color: var(--tertiary-text);
	}
	.f-secondary {
		font-family: "Montserrat", sans-serif;
		font-size: 10pt;
		color: var(--secondary-text);
	}
	.f-primary {
		font-family: "Montserrat", sans-serif;
		font-size: 12pt;
		color: var(--header-text);
	}
	.f-header {
		font-family: "Montserrat", sans-serif;
		font-size: 18pt;
		font-weight: bold;
		color: var(--header-text-accent);
	}

	.logo-text {
		font-family: "Montserrat", sans-serif;
		font-size: 20pt;
		font-weight: bold;
		color: var(--header-text-accent);
	}

	.entry-form-header {
		background-color: var(--tile-background);
		font: bold 16pt Arial;
		padding: 5px;
	}
	.entry-form {
		border-style: none;
		border-width: 2px;
		border-color: var(--tile-background);
		background: var(--container-background);
		margin: 6px;
		padding: 0px;
		border-radius: 7px;
	}
	
	.entry-form-item {
		padding-left: 10px;
		padding-top: 10px;
		padding-right: 10px;
	}

	.form-label {
		font-size: 0.875rem;
	}

	.form-control {
		font-size: 0.875rem;
	}

	.btn-sm {
		--bs-btn-font-size: 0.875rem;
	}
}

@media only screen and (min-width: 641px)
{
	.recipe-item {
		height: 160px;
		/*width: 600px;*/
		margin: 2px;
	}

	.recipe-item-title {
		font-size: 18pt;
		font-weight: bold;
	}

	.recipe-item-summary {
		font-size: 14pt;
		font-weight: normal;
		color: var(--tertiary2-text);
	}

	.recipe-item-link {
		text-decoration: none;
		color: #000000;
		white-space: nowrap;
		font-size: 18px;
		width: 600px;
		height: 160px;
	   }

	.icon-size {
		font-size:110pt;
		display: flex;
		align-self: flex-end;
	}

	.icon-details-size {
		font-size:70pt;
		display: flex;
		align-self: flex-end;
	}

	.f-tertiary {
		font-family: "Montserrat", sans-serif;
		font-size: 12pt;
		color: var(--tertiary-text);
	}
	.f-secondary {
		font-family: "Montserrat", sans-serif;
		font-size: 12pt;
		color: var(--secondary-text);
	}
	.f-primary {
		font-family: "Montserrat", sans-serif;
		font-size: 16pt;
		color: var(--header-text);
	}
	.f-header {
		font-family: "Montserrat", sans-serif;
		font-size: 20pt;
		font-weight: bold;
		color: var(--header-text-accent);
	}

	.logo-text {
		font-family: "Montserrat", sans-serif;
		font-size: 20pt;
		font-weight: bold;
		color: var(--header-text-accent);
	}

	.entry-form-header {
		background-color: var(--tile-background);
		font: bold 16pt Arial;
		padding: 5px;
	}
	.entry-form {
		border-style: none;
		border-width: 2px;
		border-color: var(--tile-background);
		background: var(--container-background);
		margin: 10px;
		padding: 0px;
		border-radius: 7px;
	}
	
	.entry-form-item {
		padding-left: 10px;
		padding-top: 10px;
		padding-right: 10px;
	}

	.form-label {
		font-size: 1rem;
	}

	.form-control {
		font-size: 1rem;
	}

	.btn-sm {
		--bs-btn-font-size: 0.75rem;
	}
}

.recipe-instructions {
	color:#c20808;
	white-space: pre-wrap;
	font-size: 20pt;
}
.recipe-comments {
	white-space: pre;
	font-size: 20pt;
	background: var(--tertiary2-text);
}
.recipe-tags {
	white-space: pre;
	font-size: 20pt;
	background: var(--tertiary2-text);
}

.simple-table tr:last-child td {
	border-bottom: none;
}

.hl-label {
	position: relative;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: solid;
	border-width: 2px;
	border-color: var(--header-text-accent);
}
/* .hl-label:before {
	content: "";
	display: block;
	width: 100%;
	height: 2px;
	background: #bb86fc;
	top: 50%;
	position: relative;
}
.hl-label:after {
	content: "";
	display: block;
	width: 100%;
	height: 2px;
	background: #bb86fc;
	top: 50%;
	position: relative;
} */


.text-muted {
	color: rgb(113 136 159 / 75%);
	--bs-secondary-color: rgb(113 136 159 / 75%);
}

.bk-page {
	background-color: var(--page-background);
}
.bk-container {
	border-radius: 2px;
	background-color: var(--container-background);
}
.bk-tile {
	border-radius: 8px;
	background-color: var(--tile-background);
	color: var(--header-text);
	margin: 4px;
}
.br-secondary {
	border-color: var(--secondary-text);
}

.f-multiline {
	white-space: pre-wrap;
	word-wrap: normal;
}

.icon-purple {
	color: var(--icon-color);
}
.icon-sm {
	font-size: 48pt;
}
.icon-lg {
	font-size: 70pt;
}
.icon-xxl {
	font-size: 120pt;
}

.br-logo {
	border-style: solid;
	border-radius: 10px;
	border-color: var(--logo-border);
	border-width: 1px;
	overflow: hidden;

}